In [3]:
import pandas as pd
import math

In [4]:
import numpy as np

In [5]:
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

In [6]:
filename = "project3_dataset1.txt"

In [7]:
data_set = pd.read_csv(filename,sep = '\t',header = None,nrows = 1)
columns = data_set.columns.tolist()
cols_to_use = columns[:len(columns)]
default_class_label = pd.read_csv(filename,sep = '\t',header = None,usecols=columns[len(columns)-1 : ])
data_set = pd.read_csv(filename,sep = '\t',header = None,usecols=cols_to_use)

In [8]:
data_set.head(3)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,20.13,28.25,131.20,1261.0,0.0978,0.1034,0.14400,0.09791,0.1752,0.05533,...,38.25,155.00,1731.0,0.1166,0.1922,0.3215,0.16280,0.2572,0.06637,1
1,12.45,15.70,82.57,477.1,0.1278,0.1700,0.15780,0.08089,0.2087,0.07613,...,23.75,103.40,741.6,0.1791,0.5249,0.5355,0.17410,0.3985,0.12440,1
2,11.26,19.96,73.72,394.1,0.0802,0.1181,0.09274,0.05588,0.2595,0.06233,...,22.33,78.27,437.6,0.1028,0.1843,0.1546,0.09314,0.2955,0.07009,0

In [9]:
len(data_set)

569

### Handling categorical values

In [10]:
def is_categorical(col):
    return col.dtype.name == 'object'

In [11]:
def prepare_data(dataframe):
    for i in range(dataframe.shape[1]):
        if(is_categorical(dataframe[i])):
            dataframe[i] = dataframe[i].astype('category')
            dataframe[i] = dataframe[i].cat.codes
    #dataframe = pd.DataFrame(preprocessing.normalize(dataframe))
    return dataframe

### Cross-validation

In [12]:
def split_train_test(dataframe,fold_no):
    length = int(len(dataframe)/10)
    test = pd.DataFrame(dataframe,index=range(fold_no*length,fold_no*length + length))
    train = dataframe.loc[~dataframe.index.isin(test.index)]
    return train,test

In [13]:
data_set.head(3)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,20.13,28.25,131.20,1261.0,0.0978,0.1034,0.14400,0.09791,0.1752,0.05533,...,38.25,155.00,1731.0,0.1166,0.1922,0.3215,0.16280,0.2572,0.06637,1
1,12.45,15.70,82.57,477.1,0.1278,0.1700,0.15780,0.08089,0.2087,0.07613,...,23.75,103.40,741.6,0.1791,0.5249,0.5355,0.17410,0.3985,0.12440,1
2,11.26,19.96,73.72,394.1,0.0802,0.1181,0.09274,0.05588,0.2595,0.06233,...,22.33,78.27,437.6,0.1028,0.1843,0.1546,0.09314,0.2955,0.07009,0

In [14]:
data_set = prepare_data(data_set)

In [15]:
data_set.head(3)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,20.13,28.25,131.20,1261.0,0.0978,0.1034,0.14400,0.09791,0.1752,0.05533,...,38.25,155.00,1731.0,0.1166,0.1922,0.3215,0.16280,0.2572,0.06637,1
1,12.45,15.70,82.57,477.1,0.1278,0.1700,0.15780,0.08089,0.2087,0.07613,...,23.75,103.40,741.6,0.1791,0.5249,0.5355,0.17410,0.3985,0.12440,1
2,11.26,19.96,73.72,394.1,0.0802,0.1181,0.09274,0.05588,0.2595,0.06233,...,22.33,78.27,437.6,0.1028,0.1843,0.1546,0.09314,0.2955,0.07009,0

In [16]:
data_set.shape[1]

31

### Pre-processing data

In [17]:
scaler = MinMaxScaler()
print(scaler.fit(data_set))

MinMaxScaler(copy=True, feature_range=(0, 1))

In [18]:
data_set.head(3)

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,20.13,28.25,131.20,1261.0,0.0978,0.1034,0.14400,0.09791,0.1752,0.05533,...,38.25,155.00,1731.0,0.1166,0.1922,0.3215,0.16280,0.2572,0.06637,1
1,12.45,15.70,82.57,477.1,0.1278,0.1700,0.15780,0.08089,0.2087,0.07613,...,23.75,103.40,741.6,0.1791,0.5249,0.5355,0.17410,0.3985,0.12440,1
2,11.26,19.96,73.72,394.1,0.0802,0.1181,0.09274,0.05588,0.2595,0.06233,...,22.33,78.27,437.6,0.1028,0.1843,0.1546,0.09314,0.2955,0.07009,0

In [19]:
data_set = pd.DataFrame(scaler.transform(data_set))

### Remove outliers

In [20]:
from scipy import stats
data_set = data_set[(np.abs(stats.zscore(data_set)) < 3).all(axis=1)]

In [21]:
zero_prior = data_set[(data_set[data_set.shape[1] - 1] == 0)].shape[0]

In [22]:
one_prior = data_set[(data_set[data_set.shape[1] - 1] == 1)].shape[0]

In [23]:
Zero_DataSet = data_set[(data_set[data_set.shape[1] - 1] == 0)]

In [24]:
One_DataSet = data_set[(data_set[data_set.shape[1] - 1] == 0)]

In [25]:
zero_prior = zero_prior/data_set.shape[0]

In [26]:
one_prior = one_prior/data_set.shape[0]

In [27]:
def get_label(data_point,train):
    train_0 = train[(train[train.shape[1] - 1] == 0)].drop([train.shape[1] - 1],axis=1)
    train_1 = train[(train[train.shape[1] - 1] == 1)].drop([train.shape[1] - 1],axis=1)
    train = train.drop([train.shape[1] - 1],axis=1)
    train_0_avg = train_0.apply(lambda x: x.mean()) 
    train_0_avg = pd.DataFrame(train_0_avg).transpose()
    train_1_avg = train_1.apply(lambda x: x.mean())
    train_1_avg = pd.DataFrame(train_1_avg).transpose()
    train_0_var = train_0.var(axis=0)
    train_0_var = pd.DataFrame(train_0_var).transpose()
    train_1_var = train_1.var(axis=0)
    train_1_var = pd.DataFrame(train_1_var).transpose()
    data_point = data_point.drop([data_point.shape[1] - 1],axis=1)
    zero_descriptor_posterior = 1.0
    one_descriptor_posterior = 1.0
    for i in range(train_0_avg.shape[1]):
        #print(train_0_avg[i].iloc[0])
        exp_upper = (data_point[i].iloc[0]-train_0_avg[i].iloc[0]) * (data_point[i].iloc[0]-train_0_avg[i].iloc[0])
        exp_lower = (2*train_0_var[i].iloc[0])
        math_sqrt = (math.sqrt(2*math.pi*train_0_var[i]))
        #print(math_sqrt,np.exp(exp_upper/exp_lower))
        if(np.isnan(exp_upper) or np.isnan(exp_lower)):
            continue
        zero_descriptor_posterior = (zero_descriptor_posterior/math_sqrt) * np.exp((-exp_upper)/exp_lower)
    for i in range(train_1_avg.shape[1]):  
        exp_upper = pow((data_point[i].iloc[0]-train_1_avg[i].iloc[0]),2)
        exp_lower = (2*train_1_var[i].iloc[0])
        math_sqrt = (math.sqrt(2*math.pi*train_1_var[i]))
        #print(math_sqrt,np.exp(exp_upper/exp_lower))
        if(np.isnan(exp_upper) or np.isnan(exp_lower)):
            continue
        one_descriptor_posterior = (one_descriptor_posterior/math_sqrt) * np.exp((-exp_upper)/exp_lower)
    zero_posterior =  zero_prior * zero_descriptor_posterior
    one_posterior = one_prior * one_descriptor_posterior
    #print(zero_descriptor_posterior,one_descriptor_posterior)
    if(float(zero_posterior) > float(one_posterior)):
        return 0
    else:
        return 1

Naive Bayes Algorithm

In [28]:
def Naive_Bayes(dataframe):
    dataframe = dataframe.dropna()
    num_classes = 2
    if ((num_classes % 2) == 0):
        i = 1
    else:
        i = 0
    acc = []
    pre = []
    rec = []
    f_mea = []
    for fold_no in range(10):
        train,test = split_train_test(dataframe,fold_no)
        true_positive = 0
        true_negative = 0
        false_negative = 0
        false_positive = 0
        for i,data_point in test.iterrows():
            data_point = pd.DataFrame(data_point).transpose()
            predicted_label = get_label(data_point,train)
            if(np.isnan(data_point.iloc[0][data_point.shape[1] - 1])):
                continue
            if ((predicted_label == 1) and (data_point.iloc[0][data_point.shape[1] - 1] == 1.0)):
                true_positive = true_positive + 1
            elif ((predicted_label == 0) and (data_point.iloc[0][data_point.shape[1] - 1] == 1.0)):
                false_negative = false_negative + 1
            elif ((predicted_label == 1) and (data_point.iloc[0][data_point.shape[1] - 1] == 0.0)):
                false_positive = false_positive + 1
            elif ((predicted_label == 0) and (data_point.iloc[0][data_point.shape[1] - 1] == 0.0)):
                true_negative = true_negative + 1
        #print(true_positive,false_positive,true_negative,false_negative)
        accuracy = (true_positive + true_negative)/ (true_positive + false_negative + false_positive + true_negative)
        precision = true_positive/ (true_positive + false_positive)
        recall = true_positive/(true_positive + false_negative)
        f_measure = (2 * true_positive)/((2 * true_positive) + false_negative + false_positive)
        acc.append(accuracy)
        pre.append(precision)
        rec.append(recall)
        f_mea.append(f_measure)
        #print(accuracy,precision,recall,f_measure)
    print("Average accuracy: ",sum(acc)/float(len(acc)))
    print("Average precision: ",sum(pre)/float(len(pre)))
    print("Average recall: ",sum(rec)/float(len(rec)))
    print("Average f_measure: ",sum(f_mea)/float(len(f_mea)))

In [29]:
Naive_Bayes(data_set)

Average accuracy:  0.9487879308743571
Average precision:  0.9333103171338466
Average recall:  0.9138730876966171
Average f_measure:  0.9211718281033034